<a href="https://colab.research.google.com/github/Terrykamau/Terrykamau/blob/main/group_by_%2B_aggregate_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/onlinefoods.csv')

In [ ]:
df

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes
5,27,Female,Married,Employee,More than 50000,Post Graduate,2,12.9299,77.6848,560103,Yes,Positive,Yes
6,22,Male,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
7,24,Female,Single,Student,No Income,Post Graduate,3,12.9828,77.6131,560042,Yes,Positive,Yes
8,23,Female,Single,Student,No Income,Post Graduate,2,12.9766,77.5993,560001,Yes,Positive,Yes
9,23,Female,Single,Student,No Income,Post Graduate,4,12.9854,77.7081,560048,Yes,Positive,Yes
10,22,Female,Single,Student,No Income,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
11,23,Male,Single,Student,Below Rs.10000,Post Graduate,2,12.9770,77.5773,560009,Yes,Negative,Yes
12,23,Male,Single,Student,No Income,Post Graduate,5,12.8988,77.5764,560078,Yes,Positive,Yes
13,21,Male,Single,Student,No Income,Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
14,23,Female,Single,Self Employeed,10001 to 25000,Post Graduate,5,12.9438,77.5738,560004,Yes,Positive,Yes
15,24,Female,Single,Student,No Income,Post Graduate,6,12.8893,77.6399,560068,Yes,Positive,Yes
16,28,Female,Single,Employee,25001 to 50000,Post Graduate,2,12.9783,77.6408,560038,Yes,Positive,Yes
17,23,Female,Single,Student,No Income,Graduate,3,12.9820,77.6256,560008,Yes,Negative,Yes
18,25,Male,Single,Student,No Income,Graduate,4,12.8988,77.5764,560078,Yes,Negative,Yes
19,21,Female,Single,Student,Below Rs.10000,Post Graduate,1,12.9783,77.6408,560038,Yes,Positive,Yes
20,24,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
21,22,Male,Single,Student,No Income,Post Graduate,4,13.0298,77.6047,560032,Yes,Positive,Yes
22,22,Female,Single,Student,No Income,Graduate,4,12.9983,77.6409,560033,Yes,Positive,Yes
23,23,Male,Single,Student,No Income,Graduate,4,12.9925,77.5633,560021,Yes,Positive,Yes
24,21,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9306,77.5434,560085,Yes,Positive,Yes
25,25,Male,Single,Student,No Income,Post Graduate,3,12.9820,77.6256,560008,Yes,Positive,Yes
26,22,Female,Single,Student,No Income,Post Graduate,5,12.9353,77.5585,560050,Yes,Positive,Yes
27,22,Male,Single,Student,No Income,Post Graduate,3,12.9155,77.5135,560098,Yes,Positive,Yes
28,23,Female,Single,Employee,10001 to 25000,Graduate,3,12.9854,77.7081,560048,Yes,Positive,Yes
29,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,13.0019,77.5713,560003,Yes,Positive,Yes
30,22,Female,Single,Employee,10001 to 25000,Graduate,5,12.9698,77.7500,560066,Yes,Positive,Yes
31,22,Male,Single,Student,No Income,Post Graduate,4,12.9783,77.6408,560038,Yes,Positive,Yes
32,25,Male,Married,Employee,More than 50000,Ph.D,4,12.9261,77.6221,560034,Yes,Positive,Yes
33,22,Female,Single,Student,10001 to 25000,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
34,22,Female,Single,Student,No Income,Post Graduate,2,12.9119,77.6446,560102,Yes,Positive,Yes
35,25,Male,Single,Student,10001 to 25000,Post Graduate,3,12.9306,77.5434,560085,Yes,Positive,Yes
36,25,Male,Single,Student,No Income,Post Graduate,5,12.9770,77.5773,560009,No,Positive,No
37,32,Female,Prefer not to say,House wife,No Income,Graduate,5,12.9820,77.6256,560008,Yes,Negative,Yes
38,23,Female,Single,Student,No Income,Post Graduate,3,12.9438,77.5738,560004,Yes,Positive,Yes
39,23,Female,Single,Student,No Income,Post Graduate,4,12.8988,77.5764,560078,Yes,Positive,Yes
40,30,Male,Married,Self Employeed,More than 50000,Uneducated,4,12.9662,77.6068,560025,Yes,Negative,Yes
41,23,Male,Single,Student,No Income,Graduate,3,12.9565,77.5484,560026,Yes,Positive,Yes
42,23,Male,Single,Student,No Income,Post Graduate,4,12.9925,77.5633,560021,Yes,Positive,Yes
43,22,Female,Single,Student,No Income,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
44,22,Male,Single,Student,No Income,Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
45,27,Female,Married,Self Employeed,10001 to 25000,Post Graduate,2,12.9261,77.6221,560034,Yes,Positive,Yes
46,24,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
47,23,Male,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
48,23,Female,Single,Student,No Income,Graduate,3,12.9820,77.6256,560008,Yes,Negative,Yes
49,22,Female,Single,Student,10001 to 25000,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
50,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
51,23,Female,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
52,24,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
53,25,Male,Single,Student,No Income,Post Graduate,2,12.9635,77.5821,560002,Yes,Positive,Yes
54,22,Male,Single,Student,No Income,Post Graduate,3,12.9306,77.5434,560085,Yes,Positive,Yes
55,28,Female,Married,Student,No Income,Graduate,2,13.0067,77.5450,560086,Yes,Positive,Yes
56,22,Female,Single,Student,No Income,Post Graduate,1,12.8845,77.6036,560076,Yes,Positive,Yes
57,24,Female,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
58,31,Male,Married,Employee,More than 50000,Ph.D,5,12.9119,77.6446,560102,Yes,Positive,Yes
59,25,Male,Single,Student,No Income,Post Graduate,4,13.0067,77.5450,560086,Yes,Positive,Yes
60,23,Male,Single,Student,No Income,Post Graduate,5,12.8988,77.5764,560078,Yes,Positive,Yes
61,22,Male,Single,Student,No Income,Post Graduate,3,12.8845,77.6036,560076,Yes,Positive,Yes
62,23,Male,Single,Student,25001 to 50000,Post Graduate,1,13.0158,77.5390,560096,Yes,Positive,Yes
63,23,Male,Single,Student,No Income,Graduate,4,12.9343,77.6044,560029,Yes,Positive,Yes
64,23,Female,Single,Student,No Income,Post Graduate,2,13.0019,77.5713,560003,Yes,Positive,Yes
65,25,Male,Single,Student,No Income,Post Graduate,6,13.0012,77.5995,560046,Yes,Positive,Yes
66,24,Male,Single,Employee,10001 to 25000,Graduate,4,12.9442,77.6076,560030,Yes,Positive,Yes
67,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
68,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
69,24,Female,Married,Employee,More than 50000,Ph.D,4,12.9438,77.5738,560004,Yes,Positive,Yes
70,22,Male,Single,Student,No Income,Graduate,4,12.9889,77.5741,560020,Yes,Positive,Yes
71,24,Female,Single,Student,10001 to 25000,Post Graduate,3,12.9335,77.5691,560028,No,Positive,No
72,25,Female,Single,Student,No Income,Post Graduate,3,12.9766,77.5993,560001,Yes,Positive,Yes
73,23,Male,Single,Student,No Income,Post Graduate,2,12.8845,77.6036,560076,Yes,Positive,Yes
74,26,Male,Single,Student,No Income,Post Graduate,4,13.0019,77.5713,560003,Yes,Positive,Yes
75,24,Female,Single,Student,25001 to 50000,Post Graduate,3,13.1020,77.5864,560064,Yes,Positive,Yes
76,26,Male,Single,Student,No Income,Post Graduate,4,12.9048,77.6821,560036,Yes,Positive,Yes
77,21,Male,Single,Student,No Income,Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
78,22,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
79,24,Male,Single,Student,No Income,Post Graduate,5,12.9337,77.5900,560011,Yes,Positive,Yes
80,24,Male,Single,Student,10001 to 25000,Post Graduate,4,12.9037,77.5376,560061,Yes,Positive,Yes
81,23,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
82,23,Male,Single,Student,No Income,Post Graduate,3,12.9343,77.6044,560029,Yes,Positive,Yes
83,22,Male,Single,Student,No Income,Post Graduate,3,12.9438,77.5738,560004,Yes,Positive,Yes
84,23,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
85,24,Female,Single,Student,No Income,Post Graduate,4,12.9783,77.6408,560038,Yes,Positive,Yes
86,24,Male,Single,Student,No Income,Post Graduate,5,12.9337,77.5900,560011,Yes,Positive,Yes
87,25,Male,Single,Student,No Income,Graduate,1,12.9770,77.5773,560009,Yes,Positive,Yes
88,25,Male,Single,Student,No Income,Post Graduate,5,12.9770,77.5773,560009,No,Positive,No
89,28,Male,Married,Self Employeed,10001 to 25000,Graduate,2,13.0289,77.5400,560022,No,Negative,No
90,27,Female,Prefer not to say,Employee,25001 to 50000,Post Graduate,5,13.0289,77.5400,560022,No,Positive,No
91,26,Male,Single,Self Employeed,10001 to 25000,Ph.D,1,12.9698,77.7500,560066,No,Positive,No
92,22,Male,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
93,24,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
94,23,Male,Single,Student,No Income,Post Graduate,1,12.9561,77.5921,560027,Yes,Positive,Yes
95,25,Male,Single,Student,No Income,Graduate,1,12.9770,77.5773,560009,Yes,Positive,Yes
96,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
97,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
98,26,Male,Married,Employee,25001 to 50000,Graduate,5,12.9579,77.6309,560007,No,Positive,No
99,32,Female,Married,House wife,No Income,Uneducated,3,13.0140,77.5658,560012,No,Positive,No
100,24,Female,Single,Student,10001 to 25000,Post Graduate,3,12.9335,77.5691,560028,No,Positive,No
101,23,Male,Single,Student,No Income,Post Graduate,2,12.9442,77.6076,560030,Yes,Positive,Yes
102,22,Female,Single,Employee,10001 to 25000,Graduate,3,12.9698,77.7500,560066,Yes,Positive,Yes
103,24,Female,Single,Student,No Income,Ph.D,3,12.9438,77.5738,560004,Yes,Positive,Yes
104,26,Male,Single,Employee,25001 to 50000,Graduate,2,12.9261,77.6221,560034,Yes,Negative,Yes
105,28,Male,Married,Employee,More than 50000,Graduate,3,12.9698,77.7500,560066,No,Positive,No
106,26,Male,Single,Employee,More than 50000,Post Graduate,2,12.9698,77.7500,560066,No,Positive,No
107,25,Male,Single,Student,No Income,Post Graduate,1,12.9343,77.6044,560029,Yes,Positive,Yes
108,25,Male,Single,Employee,Below Rs.10000,Graduate,2,12.9698,77.7500,560066,No,Positive,No
109,18,Male,Single,Student,No Income,Graduate,5,12.9635,77.5821,560002,Yes,Positive,Yes
110,21,Male,Single,Student,No Income,Post Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
111,25,Male,Single,Student,No Income,Post Graduate,1,12.9343,77.6044,560029,Yes,Positive,Yes
112,25,Male,Single,Student,Below Rs.10000,Post Graduate,2,12.9925,77.5633,560021,Yes,Positive,Yes
113,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
114,23,Male,Single,Employee,10001 to 25000,Post Graduate,2,12.9850,77.5533,560010,Yes,Positive,Yes
115,25,Female,Married,Employee,25001 to 50000,Graduate,4,12.9551,77.6593,560017,No,Negative,No
116,31,Female,Married,House wife,No Income,School,5,13.0289,77.5400,560022,Yes,Positive,Yes
117,24,Male,Prefer not to say,Self Employeed,More than 50000,Ph.D,2,13.0138,77.5877,560006,No,Positive,No
118,32,Female,Married,Employee,25001 to 50000,Graduate,5,12.9261,77.6221,560034,Yes,Positive,Yes
119,25,Male,Single,Employee,25001 to 50000,Graduate,3,12.9766,77.5993,560001,Yes,Positive,Yes
120,27,Female,Married,Self Employeed,More than 50000,Graduate,5,12.9766,77.5993,560001,No,Positive,No
121,26,Male,Single,Self Employeed,25001 to 50000,Graduate,3,12.9766,77.5993,560001,Yes,Positive,Yes
122,26,Female,Single,Self Employeed,25001 to 50000,Post Graduate,3,12.9635,77.5821,560002,Yes,Positive,Yes
123,32,Male,Married,Employee,More than 50000,Ph.D,5,12.9635,77.5821,560002,Yes,Negative,Yes
124,24,Male,Married,Self Employeed,More than 50000,Ph.D,6,12.9635,77.5821,560002,No,Negative,No
125,27,Female,Married,Self Employeed,25001 to 50000,Graduate,3,12.9635,77.5821,560002,Yes,Positive,Yes
126,23,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
127,25,Male,Single,Student,No Income,Post Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
128,23,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
129,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
130,28,Male,Married,Employee,More than 50000,Post Graduate,3,13.0019,77.5713,560003,Yes,Positive,Yes
131,32,Female,Married,Employee,More than 50000,Graduate,1,13.0019,77.5713,560003,No,Positive,No
132,23,Male,Single,Student,No Income,Post Graduate,2,13.0019,77.5713,560003,Yes,Positive,Yes
133,19,Male,Single,Student,No Income,Graduate,2,13.0019,77.5713,560003,No,Negative,No
134,19,Female,Single,Student,No Income,Graduate,4,12.9537,77.6176,560047,Yes,Positive,Yes
135,27,Female,Married,Employee,25001 to 50000,Post Graduate,2,12.9698,77.7500,560066,No,Positive,No
136,25,Male,Single,Self Employeed,25001 to 50000,Graduate,3,12.9980,77.6227,560005,Yes,Positive,Yes
137,33,Male,Married,Employee,More than 50000,Ph.D,5,12.9980,77.6227,560005,No,Negative,No
138,26,Female,Single,Employee,More than 50000,Graduate,3,12.9980,77.6227,560005,Yes,Positive,Yes
139,22,Female,Single,Student,Below Rs.10000,Post Graduate,4,12.9343,77.6044,560029,Yes,Positive,Yes
140,23,Male,Single,Student,No Income,Post Graduate,3,13.1020,77.5864,560064,No,Positive,No
141,22,Female,Single,Student,No Income,Graduate,3,13.0158,77.5390,560096,Yes,Negative,Yes
142,25,Male,Married,Employee,25001 to 50000,Graduate,2,12.9980,77.6227,560005,Yes,Positive,Yes
143,30,Female,Married,House wife,No Income,School,5,12.9980,77.6227,560005,Yes,Positive,Yes
144,24,Male,Single,Student,No Income,Post Graduate,3,13.0138,77.5877,560006,No,Negative,No
145,25,Male,Single,Employee,10001 to 25000,Post Graduate,3,13.0138,77.5877,560006,Yes,Positive,Yes
146,23,Male,Single,Student,More than 50000,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
147,24,Female,Single,Student,No Income,Post Graduate,4,13.0496,77.4941,560073,Yes,Positive,Yes
148,32,Male,Married,Employee,10001 to 25000,Graduate,4,12.9783,77.6408,560038,Yes,Positive,Yes
149,22,Male,Single,Student,No Income,Post Graduate,4,12.9889,77.5741,560020,Yes,Positive,Yes
150,23,Male,Single,Student,More than 50000,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
151,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
152,20,Male,Single,Student,No Income,Graduate,2,12.9579,77.6309,560007,Yes,Positive,Yes
153,21,Male,Single,Student,No Income,Graduate,2,12.9579,77.6309,560007,Yes,Positive,Yes
154,24,Female,Married,Self Employeed,10001 to 25000,Graduate,5,12.9579,77.6309,560007,Yes,Positive,Yes
155,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
156,25,Male,Single,Employee,25001 to 50000,Post Graduate,3,12.9850,77.5533,560010,Yes,Positive,Yes
157,32,Female,Married,House wife,No Income,Graduate,3,12.9850,77.5533,560010,Yes,Positive,Yes
158,27,Male,Married,Employee,More than 50000,Ph.D,5,12.9850,77.5533,560010,No,Negative,No
159,20,Female,Single,Student,No Income,Graduate,2,12.9337,77.5900,560011,Yes,Positive,Yes
160,21,Male,Single,Student,No Income,Graduate,2,12.9337,77.5900,560011,Yes,Positive,Yes
161,26,Male,Single,Employee,More than 50000,Post Graduate,3,12.9337,77.5900,560011,No,Negative,No
162,25,Male,Single,Employee,10001 to 25000,Graduate,4,13.0166,77.6804,560016,Yes,Positive,Yes
163,26,Male,Single,Employee,25001 to 50000,Post Graduate,3,13.0140,77.5658,560012,Yes,Positive,Yes
164,26,Female,Married,Employee,25001 to 50000,Graduate,3,13.0140,77.5658,560012,Yes,Positive,Yes
165,27,Male,Single,Employee,More than 50000,Ph.D,4,13.0503,77.5529,560013,No,Positive,No
166,27,Female,Single,Student,No Income,Ph.D,5,13.0503,77.5529,560013,No,Negative,No
167,24,Female,Single,Student,No Income,Post Graduate,5,12.9883,77.5987,560051,Yes,Positive,Yes
168,25,Male,Married,Self Employeed,More than 50000,School,2,13.0626,77.5284,560015,Yes,Positive,Yes
169,20,Male,Single,Student,No Income,Graduate,2,13.0626,77.5284,560015,No,Negative,No
170,22,Male,Single,Student,No Income,Post Graduate,1,13.0626,77.5284,560015,Yes,Positive,Yes
171,26,Female,Married,Student,Below Rs.10000,Ph.D,3,13.0166,77.6804,560016,Yes,Positive,Yes
172,27,Male,Prefer not to say,Employee,25001 to 50000,Post Graduate,1,13.0166,77.6804,560016,Yes,Positive,Yes
173,25,Female,Single,Student,No Income,Post Graduate,3,12.9551,77.6593,560017,Yes,Positive,Yes
174,24,Male,Single,Employee,Below Rs.10000,Graduate,2,12.9551,77.6593,560017,Yes,Positive,Yes
175,23,Female,Single,Employee,10001 to 25000,Graduate,6,12.9551,77.6593,560017,Yes,Positive,Yes
176,22,Male,Single,Student,No Income,Graduate,2,12.9570,77.5637,560018,No,Positive,No
177,26,Male,Married,Self Employeed,More than 50000,Post Graduate,3,12.9570,77.5637,560018,No,Negative,No
178,26,Male,Single,Employee,Below Rs.10000,Post Graduate,1,12.9570,77.5637,560018,Yes,Negative,Yes
179,25,Female,Married,Self Employeed,25001 to 50000,Post Graduate,3,12.9570,77.5637,560018,No,Positive,No
180,29,Female,Married,Employee,More than 50000,Graduate,3,12.9570,77.5637,560018,No,Positive,No
181,23,Male,Single,Student,Below Rs.10000,Graduate,3,12.8652,77.5240,560109,Yes,Negative,Yes
182,22,Female,Single,Employee,25001 to 50000,Graduate,4,12.9698,77.7500,560066,Yes,Positive,Yes
183,22,Male,Single,Student,No Income,Graduate,2,12.9889,77.5741,560020,No,Positive,No
184,32,Female,Married,House wife,No Income,School,5,12.9889,77.5741,560020,Yes,Positive,Yes
185,28,Male,Married,Employee,More than 50000,Post Graduate,1,12.9925,77.5633,560021,Yes,Positive,Yes
186,22,Male,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
187,25,Male,Single,Employee,10001 to 25000,Graduate,2,12.9757,77.5586,560023,Yes,Positive,Yes
188,26,Female,Married,Employee,25001 to 50000,Post Graduate,2,12.9757,77.5586,560023,No,Negative,No
189,31,Male,Married,Self Employeed,More than 50000,School,6,13.0487,77.5923,560024,Yes,Positive,Yes
190,24,Male,Single,Student,No Income,Post Graduate,3,13.0487,77.5923,560024,No,Negative,No
191,24,Male,Single,Employee,25001 to 50000,Post Graduate,2,12.9662,77.6068,560025,Yes,Positive,Yes
192,31,Female,Married,Employee,More than 50000,Ph.D,5,12.9662,77.6068,560025,Yes,Positive,Yes
193,26,Male,Single,Employee,25001 to 50000,Graduate,2,12.9343,77.6044,560029,Yes,Positive,Yes
194,24,Female,Married,Self Employeed,More than 50000,Graduate,2,12.9343,77.6044,560029,Yes,Positive,Yes
195,22,Female,Single,Student,No Income,Graduate,3,12.9343,77.6044,560029,Yes,Positive,Yes
196,19,Male,Single,Student,No Income,Graduate,6,12.9442,77.6076,560030,Yes,Positive,Yes
197,25,Male,Married,Employee,More than 50000,Post Graduate,6,12.9442,77.6076,560030,Yes,Positive,Yes
198,23,Female,Married,House wife,No Income,School,6,12.9442,77.6076,560030,Yes,Positive,Yes
199,23,Female,Single,Student,No Income,Graduate,2,13.0298,77.6047,560032,No,Negative,No
200,23,Male,Single,Student,No Income,Post Graduate,2,12.9261,77.6221,560034,Yes,Positive,Yes
201,24,Male,Single,Student,No Income,Post Graduate,5,12.9621,77.5376,560104,Yes,Positive,Yes
202,22,Female,Single,Employee,25001 to 50000,Graduate,4,12.8845,77.6036,560076,Yes,Positive,Yes
203,26,Male,Married,Employee,More than 50000,Graduate,4,12.9048,77.6821,560036,Yes,Positive,Yes
204,25,Female,Single,Student,No Income,Ph.D,3,12.9048,77.6821,560036,Yes,Positive,Yes
205,20,Male,Single,Student,No Income,Graduate,2,12.9261,77.6221,560034,Yes,Positive,Yes
206,29,Male,Married,Employee,25001 to 50000,Graduate,4,12.9261,77.6221,560034,No,Negative,No
207,23,Female,Single,Student,No Income,Graduate,1,12.9770,77.5773,560009,Yes,Positive,Yes
208,25,Male,Single,Self Employeed,More than 50000,Graduate,2,12.9783,77.6408,560038,Yes,Positive,Yes
209,29,Female,Married,Employee,25001 to 50000,Graduate,4,12.9783,77.6408,560038,No,Negative,No
210,27,Male,Married,Self Employeed,25001 to 50000,Graduate,6,12.9217,77.5936,560041,No,Negative,No

In [ ]:
df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes

In [ ]:
df.groupby('Educational Qualifications')

In [ ]:
group_by_frame=df.groupby('Educational Qualifications')

In [ ]:
group_by_frame.describe()

                              Age                                         \
                            count       mean       std   min   25%   50%
Educational Qualifications
Graduate                    177.0  24.655367  3.382758  18.0  22.0  24.0
Ph.D                         23.0  26.608696  3.115053  21.0  24.5  26.0
Post Graduate               174.0  24.034483  1.979363  20.0  23.0  24.0
School                       12.0  28.000000  3.692745  22.0  25.0  30.0
Uneducated                    2.0  31.000000  1.414214  30.0  30.5  31.0

                                       Family size                           \
                             75%   max       count      mean       std  min
Educational Qualifications
Graduate                    27.0  32.0       177.0  3.276836  1.405013  1.0
Ph.D                        28.0  33.0        23.0  3.695652  1.258960  1.0
Post Graduate               25.0  32.0       174.0  3.149425  1.263345  1.0
School                      31.0  32.0        12.0  4.416667  1.505042  2.0
Uneducated                  31.5  32.0         2.0  3.500000  0.707107  3.0

                                  ... longitude                       \
                             25%  ...       min        25%       50%
Educational Qualifications        ...
Graduate                    2.00  ...   77.4842  77.574100  77.60360
Ph.D                        3.00  ...   77.5284  77.552900  77.58210
Post Graduate               2.00  ...   77.4921  77.563700  77.57960
School                      3.00  ...   77.4992  77.565575  77.61035
Uneducated                  3.25  ...   77.5658  77.576050  77.58630

                                              Pin code                 \
                                 75%      max    count           mean
Educational Qualifications
Graduate                    77.64080  77.7582    177.0  560043.491525
Ph.D                        77.63365  77.7500     23.0  560034.913043
Post Graduate               77.60760  77.7582    174.0  560037.971264
School                      77.62560  77.6713     12.0  560034.916667
Uneducated                  77.59655  77.6068      2.0  560018.500000

                                                                      \
                                  std       min        25%       50%
Educational Qualifications
Graduate                    30.414208  560001.0  560017.00  560038.0
Ph.D                        34.123989  560002.0  560008.00  560023.0
Post Graduate               32.049533  560001.0  560010.00  560026.0
School                      31.116959  560005.0  560013.25  560023.0
Uneducated                   9.192388  560012.0  560015.25  560018.5


                                  75%       max
Educational Qualifications
Graduate                    560072.00  560109.0
Ph.D                        560051.00  560102.0
Post Graduate               560067.00  560104.0
School                      560046.25  560093.0
Uneducated                  560021.75  560025.0

[5 rows x 40 columns]

In [ ]:
df.groupby('Educational Qualifications').count()

,Age,Gender,Marital Status,Occupation,Monthly Income,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
Educational Qualifications,,,,,,,,,,,,
Graduate,177,177,177,177,177,177,177,177,177,177,177,177
Ph.D,23,23,23,23,23,23,23,23,23,23,23,23
Post Graduate,174,174,174,174,174,174,174,174,174,174,174,174
School,12,12,12,12,12,12,12,12,12,12,12,12
Uneducated,2,2,2,2,2,2,2,2,2,2,2,2

In [ ]:
df.groupby('Educational Qualifications').max()

,Age,Gender,Marital Status,Occupation,Monthly Income,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
Educational Qualifications,,,,,,,,,,,,
Graduate,32,Male,Single,Student,No Income,6,13.0809,77.7582,560109,Yes,Positive,Yes
Ph.D,33,Male,Single,Student,No Income,6,13.0626,77.7500,560102,Yes,Positive,Yes
Post Graduate,32,Male,Single,Student,No Income,6,13.1020,77.7582,560104,Yes,Positive,Yes
School,32,Male,Single,Self Employeed,No Income,6,13.0626,77.6713,560093,Yes,Positive,Yes
Uneducated,32,Male,Married,Self Employeed,No Income,4,13.0140,77.6068,560025,Yes,Positive,Yes

In [ ]:
df.groupby('Educational Qualifications').min()

,Age,Gender,Marital Status,Occupation,Monthly Income,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
Educational Qualifications,,,,,,,,,,,,
Graduate,18,Female,Married,Employee,10001 to 25000,1,12.8652,77.4842,560001,No,Negative,No
Ph.D,21,Female,Married,Employee,10001 to 25000,1,12.9048,77.5284,560002,No,Negative,No
Post Graduate,20,Female,Married,Employee,10001 to 25000,1,12.8834,77.4921,560001,No,Negative,No
School,22,Female,Married,House wife,10001 to 25000,2,12.9251,77.4992,560005,No,Negative,No
Uneducated,30,Female,Married,House wife,More than 50000,3,12.9662,77.5658,560012,No,Negative,No

In [ ]:
df.groupby('Educational Qualifications').sum()

,Age,Gender,Marital Status,Occupation,Monthly Income,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
Educational Qualifications,,,,,,,,,,,,
Graduate,4364,FemaleFemaleMaleMaleFemaleMaleFemaleMaleFemale...,SingleSingleSingleSingleSingleSingleSingleSing...,StudentStudentStudentStudentStudentStudentStud...,Below Rs.10000No IncomeNo IncomeNo IncomeNo In...,580,2295.6251,13736.3595,99127698,YesYesYesYesYesYesYesYesYesYesYesYesYesYesYesY...,PositivePositivePositivePositiveNegative Negat...,YesYesYesYesYesYesYesYesYesYesYesYesYesYesYesY...
Ph.D,612,MaleMaleFemaleMaleFemaleMaleMaleMaleMaleMaleMa...,MarriedMarriedMarriedSingleSinglePrefer not to...,EmployeeEmployeeEmployeeSelf EmployeedStudentS...,More than 50000More than 50000More than 500001...,85,298.2318,1784.7978,12880803,YesYesYesNoYesNoYesNoNoNoNoNoYesYesYesYesYesYe...,PositivePositivePositivePositivePositivePositi...,YesYesYesNoYesNoYesNoNoNoNoNoYesYesYesYesYesYe...
Post Graduate,4182,FemaleMaleMaleFemaleFemaleFemaleFemaleFemaleMa...,SingleSingleSingleMarriedSingleSingleSingleSin...,StudentStudentStudentEmployeeStudentStudentStu...,No IncomeBelow Rs.10000Below Rs.10000More than...,548,2257.4064,13501.3608,97446607,YesYesYesYesYesYesYesYesYesYesYesYesYesYesYesY...,PositiveNegative PositivePositivePositivePosit...,YesYesYesYesYesYesYesYesYesYesYesYesYesYesYesY...
School,336,FemaleFemaleMaleFemaleMaleFemaleMaleMaleFemale...,MarriedMarriedMarriedMarriedMarriedMarriedMarr...,House wifeHouse wifeSelf EmployeedHouse wifeSe...,No IncomeNo IncomeMore than 50000No IncomeMore...,53,155.9150,931.1712,6720419,YesYesYesYesYesYesYesYesNoNoYesYes,PositivePositivePositivePositivePositivePositi...,YesYesYesYesYesYesYesYesNoNoYesYes
Uneducated,62,MaleFemale,MarriedMarried,Self EmployeedHouse wife,More than 50000No Income,7,25.9802,155.1726,1120037,YesNo,Negative Positive,YesNo

In [ ]:
df.groupby('Educational Qualifications').agg({"Occupation":['count','max'],"Monthly Income":['min','max']})

                           Occupation                   Monthly Income  \
                                count             max              min
Educational Qualifications
Graduate                          177         Student   10001 to 25000
Ph.D                               23         Student   10001 to 25000
Post Graduate                     174         Student   10001 to 25000
School                             12  Self Employeed   10001 to 25000
Uneducated                          2  Self Employeed  More than 50000


                                  max
Educational Qualifications
Graduate                    No Income
Ph.D                        No Income
Post Graduate               No Income
School                      No Income
Uneducated                  No Income

In [ ]:
df

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes
5,27,Female,Married,Employee,More than 50000,Post Graduate,2,12.9299,77.6848,560103,Yes,Positive,Yes
6,22,Male,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
7,24,Female,Single,Student,No Income,Post Graduate,3,12.9828,77.6131,560042,Yes,Positive,Yes
8,23,Female,Single,Student,No Income,Post Graduate,2,12.9766,77.5993,560001,Yes,Positive,Yes
9,23,Female,Single,Student,No Income,Post Graduate,4,12.9854,77.7081,560048,Yes,Positive,Yes
10,22,Female,Single,Student,No Income,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
11,23,Male,Single,Student,Below Rs.10000,Post Graduate,2,12.9770,77.5773,560009,Yes,Negative,Yes
12,23,Male,Single,Student,No Income,Post Graduate,5,12.8988,77.5764,560078,Yes,Positive,Yes
13,21,Male,Single,Student,No Income,Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
14,23,Female,Single,Self Employeed,10001 to 25000,Post Graduate,5,12.9438,77.5738,560004,Yes,Positive,Yes
15,24,Female,Single,Student,No Income,Post Graduate,6,12.8893,77.6399,560068,Yes,Positive,Yes
16,28,Female,Single,Employee,25001 to 50000,Post Graduate,2,12.9783,77.6408,560038,Yes,Positive,Yes
17,23,Female,Single,Student,No Income,Graduate,3,12.9820,77.6256,560008,Yes,Negative,Yes
18,25,Male,Single,Student,No Income,Graduate,4,12.8988,77.5764,560078,Yes,Negative,Yes
19,21,Female,Single,Student,Below Rs.10000,Post Graduate,1,12.9783,77.6408,560038,Yes,Positive,Yes
20,24,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
21,22,Male,Single,Student,No Income,Post Graduate,4,13.0298,77.6047,560032,Yes,Positive,Yes
22,22,Female,Single,Student,No Income,Graduate,4,12.9983,77.6409,560033,Yes,Positive,Yes
23,23,Male,Single,Student,No Income,Graduate,4,12.9925,77.5633,560021,Yes,Positive,Yes
24,21,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9306,77.5434,560085,Yes,Positive,Yes
25,25,Male,Single,Student,No Income,Post Graduate,3,12.9820,77.6256,560008,Yes,Positive,Yes
26,22,Female,Single,Student,No Income,Post Graduate,5,12.9353,77.5585,560050,Yes,Positive,Yes
27,22,Male,Single,Student,No Income,Post Graduate,3,12.9155,77.5135,560098,Yes,Positive,Yes
28,23,Female,Single,Employee,10001 to 25000,Graduate,3,12.9854,77.7081,560048,Yes,Positive,Yes
29,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,13.0019,77.5713,560003,Yes,Positive,Yes
30,22,Female,Single,Employee,10001 to 25000,Graduate,5,12.9698,77.7500,560066,Yes,Positive,Yes
31,22,Male,Single,Student,No Income,Post Graduate,4,12.9783,77.6408,560038,Yes,Positive,Yes
32,25,Male,Married,Employee,More than 50000,Ph.D,4,12.9261,77.6221,560034,Yes,Positive,Yes
33,22,Female,Single,Student,10001 to 25000,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
34,22,Female,Single,Student,No Income,Post Graduate,2,12.9119,77.6446,560102,Yes,Positive,Yes
35,25,Male,Single,Student,10001 to 25000,Post Graduate,3,12.9306,77.5434,560085,Yes,Positive,Yes
36,25,Male,Single,Student,No Income,Post Graduate,5,12.9770,77.5773,560009,No,Positive,No
37,32,Female,Prefer not to say,House wife,No Income,Graduate,5,12.9820,77.6256,560008,Yes,Negative,Yes
38,23,Female,Single,Student,No Income,Post Graduate,3,12.9438,77.5738,560004,Yes,Positive,Yes
39,23,Female,Single,Student,No Income,Post Graduate,4,12.8988,77.5764,560078,Yes,Positive,Yes
40,30,Male,Married,Self Employeed,More than 50000,Uneducated,4,12.9662,77.6068,560025,Yes,Negative,Yes
41,23,Male,Single,Student,No Income,Graduate,3,12.9565,77.5484,560026,Yes,Positive,Yes
42,23,Male,Single,Student,No Income,Post Graduate,4,12.9925,77.5633,560021,Yes,Positive,Yes
43,22,Female,Single,Student,No Income,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
44,22,Male,Single,Student,No Income,Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
45,27,Female,Married,Self Employeed,10001 to 25000,Post Graduate,2,12.9261,77.6221,560034,Yes,Positive,Yes
46,24,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
47,23,Male,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
48,23,Female,Single,Student,No Income,Graduate,3,12.9820,77.6256,560008,Yes,Negative,Yes
49,22,Female,Single,Student,10001 to 25000,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
50,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
51,23,Female,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
52,24,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
53,25,Male,Single,Student,No Income,Post Graduate,2,12.9635,77.5821,560002,Yes,Positive,Yes
54,22,Male,Single,Student,No Income,Post Graduate,3,12.9306,77.5434,560085,Yes,Positive,Yes
55,28,Female,Married,Student,No Income,Graduate,2,13.0067,77.5450,560086,Yes,Positive,Yes
56,22,Female,Single,Student,No Income,Post Graduate,1,12.8845,77.6036,560076,Yes,Positive,Yes
57,24,Female,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
58,31,Male,Married,Employee,More than 50000,Ph.D,5,12.9119,77.6446,560102,Yes,Positive,Yes
59,25,Male,Single,Student,No Income,Post Graduate,4,13.0067,77.5450,560086,Yes,Positive,Yes
60,23,Male,Single,Student,No Income,Post Graduate,5,12.8988,77.5764,560078,Yes,Positive,Yes
61,22,Male,Single,Student,No Income,Post Graduate,3,12.8845,77.6036,560076,Yes,Positive,Yes
62,23,Male,Single,Student,25001 to 50000,Post Graduate,1,13.0158,77.5390,560096,Yes,Positive,Yes
63,23,Male,Single,Student,No Income,Graduate,4,12.9343,77.6044,560029,Yes,Positive,Yes
64,23,Female,Single,Student,No Income,Post Graduate,2,13.0019,77.5713,560003,Yes,Positive,Yes
65,25,Male,Single,Student,No Income,Post Graduate,6,13.0012,77.5995,560046,Yes,Positive,Yes
66,24,Male,Single,Employee,10001 to 25000,Graduate,4,12.9442,77.6076,560030,Yes,Positive,Yes
67,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
68,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
69,24,Female,Married,Employee,More than 50000,Ph.D,4,12.9438,77.5738,560004,Yes,Positive,Yes
70,22,Male,Single,Student,No Income,Graduate,4,12.9889,77.5741,560020,Yes,Positive,Yes
71,24,Female,Single,Student,10001 to 25000,Post Graduate,3,12.9335,77.5691,560028,No,Positive,No
72,25,Female,Single,Student,No Income,Post Graduate,3,12.9766,77.5993,560001,Yes,Positive,Yes
73,23,Male,Single,Student,No Income,Post Graduate,2,12.8845,77.6036,560076,Yes,Positive,Yes
74,26,Male,Single,Student,No Income,Post Graduate,4,13.0019,77.5713,560003,Yes,Positive,Yes
75,24,Female,Single,Student,25001 to 50000,Post Graduate,3,13.1020,77.5864,560064,Yes,Positive,Yes
76,26,Male,Single,Student,No Income,Post Graduate,4,12.9048,77.6821,560036,Yes,Positive,Yes
77,21,Male,Single,Student,No Income,Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
78,22,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
79,24,Male,Single,Student,No Income,Post Graduate,5,12.9337,77.5900,560011,Yes,Positive,Yes
80,24,Male,Single,Student,10001 to 25000,Post Graduate,4,12.9037,77.5376,560061,Yes,Positive,Yes
81,23,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
82,23,Male,Single,Student,No Income,Post Graduate,3,12.9343,77.6044,560029,Yes,Positive,Yes
83,22,Male,Single,Student,No Income,Post Graduate,3,12.9438,77.5738,560004,Yes,Positive,Yes
84,23,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
85,24,Female,Single,Student,No Income,Post Graduate,4,12.9783,77.6408,560038,Yes,Positive,Yes
86,24,Male,Single,Student,No Income,Post Graduate,5,12.9337,77.5900,560011,Yes,Positive,Yes
87,25,Male,Single,Student,No Income,Graduate,1,12.9770,77.5773,560009,Yes,Positive,Yes
88,25,Male,Single,Student,No Income,Post Graduate,5,12.9770,77.5773,560009,No,Positive,No
89,28,Male,Married,Self Employeed,10001 to 25000,Graduate,2,13.0289,77.5400,560022,No,Negative,No
90,27,Female,Prefer not to say,Employee,25001 to 50000,Post Graduate,5,13.0289,77.5400,560022,No,Positive,No
91,26,Male,Single,Self Employeed,10001 to 25000,Ph.D,1,12.9698,77.7500,560066,No,Positive,No
92,22,Male,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
93,24,Female,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
94,23,Male,Single,Student,No Income,Post Graduate,1,12.9561,77.5921,560027,Yes,Positive,Yes
95,25,Male,Single,Student,No Income,Graduate,1,12.9770,77.5773,560009,Yes,Positive,Yes
96,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
97,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
98,26,Male,Married,Employee,25001 to 50000,Graduate,5,12.9579,77.6309,560007,No,Positive,No
99,32,Female,Married,House wife,No Income,Uneducated,3,13.0140,77.5658,560012,No,Positive,No
100,24,Female,Single,Student,10001 to 25000,Post Graduate,3,12.9335,77.5691,560028,No,Positive,No
101,23,Male,Single,Student,No Income,Post Graduate,2,12.9442,77.6076,560030,Yes,Positive,Yes
102,22,Female,Single,Employee,10001 to 25000,Graduate,3,12.9698,77.7500,560066,Yes,Positive,Yes
103,24,Female,Single,Student,No Income,Ph.D,3,12.9438,77.5738,560004,Yes,Positive,Yes
104,26,Male,Single,Employee,25001 to 50000,Graduate,2,12.9261,77.6221,560034,Yes,Negative,Yes
105,28,Male,Married,Employee,More than 50000,Graduate,3,12.9698,77.7500,560066,No,Positive,No
106,26,Male,Single,Employee,More than 50000,Post Graduate,2,12.9698,77.7500,560066,No,Positive,No
107,25,Male,Single,Student,No Income,Post Graduate,1,12.9343,77.6044,560029,Yes,Positive,Yes
108,25,Male,Single,Employee,Below Rs.10000,Graduate,2,12.9698,77.7500,560066,No,Positive,No
109,18,Male,Single,Student,No Income,Graduate,5,12.9635,77.5821,560002,Yes,Positive,Yes
110,21,Male,Single,Student,No Income,Post Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
111,25,Male,Single,Student,No Income,Post Graduate,1,12.9343,77.6044,560029,Yes,Positive,Yes
112,25,Male,Single,Student,Below Rs.10000,Post Graduate,2,12.9925,77.5633,560021,Yes,Positive,Yes
113,23,Female,Single,Student,No Income,Graduate,5,13.0206,77.6479,560043,Yes,Positive,Yes
114,23,Male,Single,Employee,10001 to 25000,Post Graduate,2,12.9850,77.5533,560010,Yes,Positive,Yes
115,25,Female,Married,Employee,25001 to 50000,Graduate,4,12.9551,77.6593,560017,No,Negative,No
116,31,Female,Married,House wife,No Income,School,5,13.0289,77.5400,560022,Yes,Positive,Yes
117,24,Male,Prefer not to say,Self Employeed,More than 50000,Ph.D,2,13.0138,77.5877,560006,No,Positive,No
118,32,Female,Married,Employee,25001 to 50000,Graduate,5,12.9261,77.6221,560034,Yes,Positive,Yes
119,25,Male,Single,Employee,25001 to 50000,Graduate,3,12.9766,77.5993,560001,Yes,Positive,Yes
120,27,Female,Married,Self Employeed,More than 50000,Graduate,5,12.9766,77.5993,560001,No,Positive,No
121,26,Male,Single,Self Employeed,25001 to 50000,Graduate,3,12.9766,77.5993,560001,Yes,Positive,Yes
122,26,Female,Single,Self Employeed,25001 to 50000,Post Graduate,3,12.9635,77.5821,560002,Yes,Positive,Yes
123,32,Male,Married,Employee,More than 50000,Ph.D,5,12.9635,77.5821,560002,Yes,Negative,Yes
124,24,Male,Married,Self Employeed,More than 50000,Ph.D,6,12.9635,77.5821,560002,No,Negative,No
125,27,Female,Married,Self Employeed,25001 to 50000,Graduate,3,12.9635,77.5821,560002,Yes,Positive,Yes
126,23,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
127,25,Male,Single,Student,No Income,Post Graduate,4,12.9770,77.5773,560009,Yes,Positive,Yes
128,23,Male,Single,Student,No Income,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
129,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
130,28,Male,Married,Employee,More than 50000,Post Graduate,3,13.0019,77.5713,560003,Yes,Positive,Yes
131,32,Female,Married,Employee,More than 50000,Graduate,1,13.0019,77.5713,560003,No,Positive,No
132,23,Male,Single,Student,No Income,Post Graduate,2,13.0019,77.5713,560003,Yes,Positive,Yes
133,19,Male,Single,Student,No Income,Graduate,2,13.0019,77.5713,560003,No,Negative,No
134,19,Female,Single,Student,No Income,Graduate,4,12.9537,77.6176,560047,Yes,Positive,Yes
135,27,Female,Married,Employee,25001 to 50000,Post Graduate,2,12.9698,77.7500,560066,No,Positive,No
136,25,Male,Single,Self Employeed,25001 to 50000,Graduate,3,12.9980,77.6227,560005,Yes,Positive,Yes
137,33,Male,Married,Employee,More than 50000,Ph.D,5,12.9980,77.6227,560005,No,Negative,No
138,26,Female,Single,Employee,More than 50000,Graduate,3,12.9980,77.6227,560005,Yes,Positive,Yes
139,22,Female,Single,Student,Below Rs.10000,Post Graduate,4,12.9343,77.6044,560029,Yes,Positive,Yes
140,23,Male,Single,Student,No Income,Post Graduate,3,13.1020,77.5864,560064,No,Positive,No
141,22,Female,Single,Student,No Income,Graduate,3,13.0158,77.5390,560096,Yes,Negative,Yes
142,25,Male,Married,Employee,25001 to 50000,Graduate,2,12.9980,77.6227,560005,Yes,Positive,Yes
143,30,Female,Married,House wife,No Income,School,5,12.9980,77.6227,560005,Yes,Positive,Yes
144,24,Male,Single,Student,No Income,Post Graduate,3,13.0138,77.5877,560006,No,Negative,No
145,25,Male,Single,Employee,10001 to 25000,Post Graduate,3,13.0138,77.5877,560006,Yes,Positive,Yes
146,23,Male,Single,Student,More than 50000,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
147,24,Female,Single,Student,No Income,Post Graduate,4,13.0496,77.4941,560073,Yes,Positive,Yes
148,32,Male,Married,Employee,10001 to 25000,Graduate,4,12.9783,77.6408,560038,Yes,Positive,Yes
149,22,Male,Single,Student,No Income,Post Graduate,4,12.9889,77.5741,560020,Yes,Positive,Yes
150,23,Male,Single,Student,More than 50000,Post Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
151,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
152,20,Male,Single,Student,No Income,Graduate,2,12.9579,77.6309,560007,Yes,Positive,Yes
153,21,Male,Single,Student,No Income,Graduate,2,12.9579,77.6309,560007,Yes,Positive,Yes
154,24,Female,Married,Self Employeed,10001 to 25000,Graduate,5,12.9579,77.6309,560007,Yes,Positive,Yes
155,23,Female,Single,Student,No Income,Post Graduate,4,13.0487,77.5923,560024,Yes,Positive,Yes
156,25,Male,Single,Employee,25001 to 50000,Post Graduate,3,12.9850,77.5533,560010,Yes,Positive,Yes
157,32,Female,Married,House wife,No Income,Graduate,3,12.9850,77.5533,560010,Yes,Positive,Yes
158,27,Male,Married,Employee,More than 50000,Ph.D,5,12.9850,77.5533,560010,No,Negative,No
159,20,Female,Single,Student,No Income,Graduate,2,12.9337,77.5900,560011,Yes,Positive,Yes
160,21,Male,Single,Student,No Income,Graduate,2,12.9337,77.5900,560011,Yes,Positive,Yes
161,26,Male,Single,Employee,More than 50000,Post Graduate,3,12.9337,77.5900,560011,No,Negative,No
162,25,Male,Single,Employee,10001 to 25000,Graduate,4,13.0166,77.6804,560016,Yes,Positive,Yes
163,26,Male,Single,Employee,25001 to 50000,Post Graduate,3,13.0140,77.5658,560012,Yes,Positive,Yes
164,26,Female,Married,Employee,25001 to 50000,Graduate,3,13.0140,77.5658,560012,Yes,Positive,Yes
165,27,Male,Single,Employee,More than 50000,Ph.D,4,13.0503,77.5529,560013,No,Positive,No
166,27,Female,Single,Student,No Income,Ph.D,5,13.0503,77.5529,560013,No,Negative,No
167,24,Female,Single,Student,No Income,Post Graduate,5,12.9883,77.5987,560051,Yes,Positive,Yes
168,25,Male,Married,Self Employeed,More than 50000,School,2,13.0626,77.5284,560015,Yes,Positive,Yes
169,20,Male,Single,Student,No Income,Graduate,2,13.0626,77.5284,560015,No,Negative,No
170,22,Male,Single,Student,No Income,Post Graduate,1,13.0626,77.5284,560015,Yes,Positive,Yes
171,26,Female,Married,Student,Below Rs.10000,Ph.D,3,13.0166,77.6804,560016,Yes,Positive,Yes
172,27,Male,Prefer not to say,Employee,25001 to 50000,Post Graduate,1,13.0166,77.6804,560016,Yes,Positive,Yes
173,25,Female,Single,Student,No Income,Post Graduate,3,12.9551,77.6593,560017,Yes,Positive,Yes
174,24,Male,Single,Employee,Below Rs.10000,Graduate,2,12.9551,77.6593,560017,Yes,Positive,Yes
175,23,Female,Single,Employee,10001 to 25000,Graduate,6,12.9551,77.6593,560017,Yes,Positive,Yes
176,22,Male,Single,Student,No Income,Graduate,2,12.9570,77.5637,560018,No,Positive,No
177,26,Male,Married,Self Employeed,More than 50000,Post Graduate,3,12.9570,77.5637,560018,No,Negative,No
178,26,Male,Single,Employee,Below Rs.10000,Post Graduate,1,12.9570,77.5637,560018,Yes,Negative,Yes
179,25,Female,Married,Self Employeed,25001 to 50000,Post Graduate,3,12.9570,77.5637,560018,No,Positive,No
180,29,Female,Married,Employee,More than 50000,Graduate,3,12.9570,77.5637,560018,No,Positive,No
181,23,Male,Single,Student,Below Rs.10000,Graduate,3,12.8652,77.5240,560109,Yes,Negative,Yes
182,22,Female,Single,Employee,25001 to 50000,Graduate,4,12.9698,77.7500,560066,Yes,Positive,Yes
183,22,Male,Single,Student,No Income,Graduate,2,12.9889,77.5741,560020,No,Positive,No
184,32,Female,Married,House wife,No Income,School,5,12.9889,77.5741,560020,Yes,Positive,Yes
185,28,Male,Married,Employee,More than 50000,Post Graduate,1,12.9925,77.5633,560021,Yes,Positive,Yes
186,22,Male,Single,Student,No Income,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
187,25,Male,Single,Employee,10001 to 25000,Graduate,2,12.9757,77.5586,560023,Yes,Positive,Yes
188,26,Female,Married,Employee,25001 to 50000,Post Graduate,2,12.9757,77.5586,560023,No,Negative,No
189,31,Male,Married,Self Employeed,More than 50000,School,6,13.0487,77.5923,560024,Yes,Positive,Yes
190,24,Male,Single,Student,No Income,Post Graduate,3,13.0487,77.5923,560024,No,Negative,No
191,24,Male,Single,Employee,25001 to 50000,Post Graduate,2,12.9662,77.6068,560025,Yes,Positive,Yes
192,31,Female,Married,Employee,More than 50000,Ph.D,5,12.9662,77.6068,560025,Yes,Positive,Yes
193,26,Male,Single,Employee,25001 to 50000,Graduate,2,12.9343,77.6044,560029,Yes,Positive,Yes
194,24,Female,Married,Self Employeed,More than 50000,Graduate,2,12.9343,77.6044,560029,Yes,Positive,Yes
195,22,Female,Single,Student,No Income,Graduate,3,12.9343,77.6044,560029,Yes,Positive,Yes
196,19,Male,Single,Student,No Income,Graduate,6,12.9442,77.6076,560030,Yes,Positive,Yes
197,25,Male,Married,Employee,More than 50000,Post Graduate,6,12.9442,77.6076,560030,Yes,Positive,Yes
198,23,Female,Married,House wife,No Income,School,6,12.9442,77.6076,560030,Yes,Positive,Yes
199,23,Female,Single,Student,No Income,Graduate,2,13.0298,77.6047,560032,No,Negative,No
200,23,Male,Single,Student,No Income,Post Graduate,2,12.9261,77.6221,560034,Yes,Positive,Yes
201,24,Male,Single,Student,No Income,Post Graduate,5,12.9621,77.5376,560104,Yes,Positive,Yes
202,22,Female,Single,Employee,25001 to 50000,Graduate,4,12.8845,77.6036,560076,Yes,Positive,Yes
203,26,Male,Married,Employee,More than 50000,Graduate,4,12.9048,77.6821,560036,Yes,Positive,Yes
204,25,Female,Single,Student,No Income,Ph.D,3,12.9048,77.6821,560036,Yes,Positive,Yes
205,20,Male,Single,Student,No Income,Graduate,2,12.9261,77.6221,560034,Yes,Positive,Yes
206,29,Male,Married,Employee,25001 to 50000,Graduate,4,12.9261,77.6221,560034,No,Negative,No
207,23,Female,Single,Student,No Income,Graduate,1,12.9770,77.5773,560009,Yes,Positive,Yes
208,25,Male,Single,Self Employeed,More than 50000,Graduate,2,12.9783,77.6408,560038,Yes,Positive,Yes
209,29,Female,Married,Employee,25001 to 50000,Graduate,4,12.9783,77.6408,560038,No,Negative,No
210,27,Male,Married,Self Employeed,25001 to 50000,Graduate,6,12.9217,77.5936,560041,No,Negative,No

In [ ]:
df.tail()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
383,23,Female,Single,Student,No Income,Post Graduate,2,12.9766,77.5993,560001,Yes,Positive,Yes
384,23,Female,Single,Student,No Income,Post Graduate,4,12.9854,77.7081,560048,Yes,Positive,Yes
385,22,Female,Single,Student,No Income,Post Graduate,5,12.9850,77.5533,560010,Yes,Positive,Yes
386,23,Male,Single,Student,Below Rs.10000,Post Graduate,2,12.9770,77.5773,560009,Yes,Positive,Yes
387,23,Male,Single,Student,No Income,Post Graduate,5,12.8988,77.5764,560078,Yes,Positive,Yes

In [ ]:
df.groupby(['Marital Status','Occupation']).max()

                                  Age  Gender   Monthly Income  \
Marital Status    Occupation
Married           Employee         33    Male  More than 50000
                  House wife       32  Female        No Income
                  Self Employeed   32    Male  More than 50000
                  Student          28    Male        No Income
Prefer not to say Employee         31    Male   Below Rs.10000
                  House wife       32  Female        No Income
                  Self Employeed   26    Male  More than 50000
Single            Employee         29    Male  More than 50000
                  Self Employeed   29    Male  More than 50000
                  Student          27    Male        No Income

                                 Educational Qualifications  Family size  \
Marital Status    Occupation
Married           Employee                    Post Graduate            6
                  House wife                     Uneducated            6
                  Self Employeed                 Uneducated            6
                  Student                     Post Graduate            5
Prefer not to say Employee                    Post Graduate            5
                  House wife                       Graduate            5
                  Self Employeed              Post Graduate            2
Single            Employee                    Post Graduate            6
                  Self Employeed                     School            6
                  Student                     Post Graduate            6

                                  latitude  longitude  Pin code Output  \
Marital Status    Occupation
Married           Employee         13.0626    77.7582    560103    Yes
                  House wife       13.0289    77.6227    560055    Yes
                  Self Employeed   13.0809    77.7582    560097    Yes
                  Student          13.0734    77.6804    560086    Yes
Prefer not to say Employee         13.0289    77.6821    560091    Yes
                  House wife       12.9820    77.6256    560008    Yes
                  Self Employeed   13.0138    77.5877    560080    Yes
Single            Employee         13.0641    77.7582    560103    Yes
                  Self Employeed   13.0206    77.7500    560093    Yes
                  Student          13.1020    77.7582    560109    Yes

                                   Feedback Unnamed: 12
Marital Status    Occupation
Married           Employee         Positive         Yes
                  House wife       Positive         Yes
                  Self Employeed   Positive         Yes
                  Student          Positive         Yes
Prefer not to say Employee         Positive         Yes
                  House wife      Negative          Yes
                  Self Employeed   Positive         Yes
Single            Employee         Positive         Yes
                  Self Employeed   Positive         Yes
                  Student          Positive         Yes

In [ ]:
df.groupby(['Marital Status','Occupation']).agg({"Monthly Income":['min','max']})

                                   Monthly Income
                                              min              max
Marital Status    Occupation
Married           Employee         10001 to 25000  More than 50000
                  House wife            No Income        No Income
                  Self Employeed   10001 to 25000  More than 50000
                  Student          Below Rs.10000        No Income
Prefer not to say Employee         10001 to 25000   Below Rs.10000
                  House wife            No Income        No Income
                  Self Employeed  More than 50000  More than 50000
Single            Employee         10001 to 25000  More than 50000
                  Self Employeed   10001 to 25000  More than 50000
                  Student          10001 to 25000        No Income

In [ ]:
df.groupby(['Marital Status','Occupation']).describe()

                                    Age                                    \
                                  count       mean       std   min    25%
Marital Status    Occupation
Married           Employee         65.0  27.938462  2.714987  21.0  26.00
                  House wife        8.0  30.125000  2.997022  23.0  30.00
                  Self Employeed   29.0  26.965517  2.382717  22.0  25.00
                  Student           6.0  25.000000  2.000000  22.0  24.25
Prefer not to say Employee          7.0  26.714286  3.352327  23.0  24.00
                  House wife        1.0  32.000000       NaN  32.0  32.00
                  Self Employeed    4.0  25.500000  1.000000  24.0  25.50
Single            Employee         46.0  24.630435  2.069446  21.0  23.00
                  Self Employeed   21.0  25.761905  1.786190  23.0  25.00
                  Student         201.0  22.746269  1.493418  18.0  22.00

                                                    Family size            \
                                   50%    75%   max       count      mean
Marital Status    Occupation
Married           Employee        28.0  30.00  33.0        65.0  3.661538
                  House wife      31.0  32.00  32.0         8.0  4.750000
                  Self Employeed  27.0  28.00  32.0        29.0  3.965517
                  Student         25.0  25.75  28.0         6.0  2.666667
Prefer not to say Employee        27.0  29.00  31.0         7.0  2.571429
                  House wife      32.0  32.00  32.0         1.0  5.000000
                  Self Employeed  26.0  26.00  26.0         4.0  2.000000
Single            Employee        25.0  26.00  29.0        46.0  2.847826
                  Self Employeed  25.0  26.00  29.0        21.0  3.190476
                  Student         23.0  24.00  27.0       201.0  3.169154

                                                      ... longitude            \
                                       std  min  25%  ...       min       25%
Marital Status    Occupation                          ...
Married           Employee        1.395046  1.0  3.0  ...   77.4842  77.56580
                  House wife      1.164965  3.0  4.5  ...   77.5400  77.55660
                  Self Employeed  1.679344  1.0  3.0  ...   77.4992  77.55770
                  Student         1.211060  2.0  2.0  ...   77.5284  77.54535
Prefer not to say Employee        1.618347  1.0  1.0  ...   77.4904  77.51520
                  House wife           NaN  5.0  5.0  ...   77.6256  77.62560
                  Self Employeed  0.000000  2.0  2.0  ...   77.5796  77.57960
Single            Employee        1.134654  1.0  2.0  ...   77.5491  77.58770
                  Self Employeed  1.400680  1.0  2.0  ...   77.5635  77.57960
                  Student         1.237434  1.0  2.0  ...   77.4842  77.56910

                                                               Pin code  \
                                       50%        75%      max    count
Marital Status    Occupation
Married           Employee        77.62210  77.640800  77.7582     65.0
                  House wife      77.56995  77.608975  77.6227      8.0
                  Self Employeed  77.59360  77.625600  77.7582     29.0
                  Student         77.54750  77.548600  77.6804      6.0
Prefer not to say Employee        77.57410  77.651550  77.6821      7.0
                  House wife      77.62560  77.625600  77.6256      1.0
                  Self Employeed  77.57960  77.581625  77.5877      4.0
Single            Employee        77.60145  77.640800  77.7582     46.0
                  Self Employeed  77.60360  77.647900  77.7500     21.0
                  Student         77.57730  77.613100  77.7582    201.0

                                                                      \
                                           mean        std       min
Marital Status    Occupation
Married           Employee        560050.707692  32.408874  560002.0
                  House wife      560024.500000  17.071279  560005.0
                  Self Employeed  560037.896552  29.178447  560001.0
                  Student         560042.500000  31.379930  560014.0
Prefer not to say Employee        560040.142857  35.923199  560005.0
                  House wife      560008.000000        NaN  560008.0
                  Self Employeed  560061.500000  37.000000  560006.0
Single            Employee        560041.543478  31.712393  560001.0
                  Self Employeed  560053.095238  30.582519  560001.0
                  Student         560035.606965  30.636902  560001.0


                                        25%       50%        75%       max
Marital Status    Occupation
Married           Employee        560023.00  560042.0  560076.00  560103.0
                  House wife      560011.50  560021.0  560033.00  560055.0
                  Self Employeed  560015.00  560029.0  560059.00  560097.0
                  Student         560015.25  560039.0  560062.00  560086.0
Prefer not to say Employee        560018.00  560022.0  560063.50  560091.0
                  House wife      560008.00  560008.0  560008.00  560008.0
                  Self Employeed  560061.50  560080.0  560080.00  560080.0
Single            Employee        560012.25  560032.0  560066.75  560103.0
                  Self Employeed  560038.00  560066.0  560076.00  560093.0
                  Student         560009.00  560027.0  560049.00  560109.0

[10 rows x 40 columns]